/* .carousel-caption {
    position: absolute;
     right: 0%; 
    bottom: 20px;
    left: 0%; 
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: left; 
} */

.sticky-nav {
    position:fixed;
    top:0;
    width: 100%;
    z-index: 1;
  }

.containerForCarousel{
    max-height:400px;
}


.third-bg {
    background-image: url("./assets/1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

.third-bg-button{
  padding-top: 15%;
  text-align: center;
  
}

 .wrapper{
     display:grid;
     grid-column-gap:1em;
     grid-row-gap:1em;
     grid-row-gap:1em;   
 }

 .wrapper > div {
    background: #eee;
    padding: 1em;
 }
 
 .wrapper > div:nth-child(odd){
    background: #ddd;
 }

 .new-bg-two{

    background-image: url("https://j.gifs.com/E9JN54.gif");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .new-bg-one{
 background-image: url("https://www.mccormick.northwestern.edu/eecs/electrical-engineering/images/undergraduate/electrical-engineering-major.jpg");
    min-height: 500px;
 }
 
 .card-container {
    margin: auto;
    width: 30%;
    padding: 10px;
    text-align: center;
}


.team-flexbox {
    display: flex; /* or inline-flex */
  }

  .team-container {
    width: 30%;
    padding: 10px;
}

.img-resize {
    width:100px; /* you can use % */
    height: auto;
}
 

/* carousel css ends here */