/* .carousel-caption {
    position: absolute;
     right: 0%; 
    bottom: 20px;
    left: 0%; 
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: left; 
} */

.sticky-nav {
    position:fixed;
    top:0;
    width: 100%;
    z-index: 1;
  }

  .carousel-settings {
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .triangle-bottomright { 
     width: 0;
      height: 0;
       border-bottom: 100px solid red;
        border-left: 100px solid transparent; 
    } 

.fixed-bg {
    background-color: aliceblue;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .wrapper{
     display:grid;
     grid-column-gap:1em;
     /* uncomment to put margin into divs */
     /* grid-row-gap:1em;    */
 }

 .wrapper > div {
    background: black;
    padding: 1em;
 }
 
 .wrapper > div:nth-child(odd){
    background: black;
 }

 .new-bg-two{

    background-image: url("assets/cb.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .new-bg-one{
 background-image: url("https://www.mccormick.northwestern.edu/eecs/electrical-engineering/images/undergraduate/electrical-engineering-major.jpg");
    min-height: 500px;
 }

 
